<br>
<br>
<br>
<div class="row">
   <div class="col">
      <img class="img-thumbnail" src="{{admin.image}}" width="500" >
   </div>
   <div class="col">
      <table class="table table-bordered text-center mt-4">
         <tr>
            <th colspan="2" class="text text-bg-danger">Admin Information</th>
         </tr>
         <tr>
            <th style="color: rgb(8, 251, 0)">Name</th>
            <th style="color: rgb(6, 243, 255)">{{admin.name}}</th>
         </tr>
          <tr>
            <th style="color: rgb(8, 251, 0)" >Password</th>
            <th style="color: rgb(6, 243, 255)">Keep looking, you'll find the password soon :)</th>
         </tr>
         <tr>
            <th style="color: rgb(8, 251, 0)">Email</th>
            <th style="color: rgb(6, 243, 255)">{{admin.email}}</th>
         </tr>
         <tr>
            <th style="color: rgb(8, 251, 0)" >Gender</th>
            <th style="color: rgb(6, 243, 255)">{{admin.gender}}</th>
         </tr>
         <tr>
            <th style="color: rgb(8, 251, 0)">Birthday</th>
            <th style="color: rgb(6, 243, 255)">{{dateFormat admin.dob "DD/MM/YYYY"}}</th>
         </tr>
         <tr>
            <th style="color: rgb(8, 251, 0)">Description</th>
            <th style="color: rgb(6, 243, 255)">{{admin.description}}</th>
         </tr>
      </table>
   </div>
</div>

<style>
    .img-thumbnail{
      border-radius: 50%;
   }
  img, svg {
    vertical-align: middle;
    border-radius: 50%;
}/*  
  Table Responsive
  ===================
  Author: https://github.com/pablorgarcia
 */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}


</style>