<br>
<br>
<br>
<div class="row">
   <div class="col">
      <img class="img-thumbnail" src="{{user.image}}" width="500" >
   </div>
   <div class="col">
      <table class="table table-bordered text-center mt-4">
         <tr>
            <th colspan="2" class="text text-bg-danger">User Information</th>
         </tr>
         <tr>
            <th style="color: white;">Name</th>
            <th style="color: white;" >{{user.name}}</th>
         </tr>
          <tr>
            <th style="color: white;"style="color: white;">Password</th>
            <th style="color: white;">Can't see the password, don't try :)) </th>
         </tr>
         <tr>
            <th style="color: white;">Email</th>
            <th style="color: white;">{{user.email}}</th>
         </tr>
         <tr>
            <th style="color: white;">Gender</th>
            <th style="color: white;">{{user.gender}}</th>
         </tr>
         <tr>
            <th style="color: white;">Birthday</th>
            <th style="color: white;">{{dateFormat user.dob "DD/MM/YYYY"}}</th>
         </tr>
         <tr>
            <th style="color: white;">Description</th>
            <th style="color: white;">{{user.description}}</th>
         </tr>
         {{!-- <tr>
            <th style="color: white;">Status</th>
            <th style="color: white;">{{user.vip}}</th>
         </tr> --}}
      </table>
   </div>
</div>
<style>
    .img-thumbnail{
      border-radius: 50%;
   }
  img, svg {
    vertical-align: middle;
    border-radius: 50%;
}/*  
  Table Responsive
  ===================
  Author: https://github.com/pablorgarcia
 */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}


</style>