<br>

<br>

<table class="table table-bordered bg-light p-4 mt-3 mb-3 text-center">
  <tr>
    <th class="text-primary" colspan="5">Supper Toys List</th>
<th colspan="1">
      
    </th>
    <th>
      <form action="/toyshop/search" method="post">
        <div class="form-group">
          <input class="form-control" type="search" name="name" placeholder="Search by name..." />
        </div>
      </form>
      <a class="btn btn-warning" href="/toyshop/list">List</a>
      <a class="btn btn-info" href="/toyshop/add">ADD</a>
      <a class="btn btn-dark" href="/toyshop/drop"
        onclick="return confirm('Are you sure to drop all toyshop ?');">DROP</a>
    </th>
  </tr>
  <tr>
    {{! <th>Name</th>
    <th>Brand</th>
    <th>Date</th>
    <th>Image</th>
    <th>Year</th>
    <th>Menu</th>
    <th>Description</th> }}
    <th style="color: blue" font-weight: bold;>Name</th>
    <th style="color: brown">Brand</th>
    <th style="color: red">Date</th>
    <th style="color: darkgreen; font-weight: bold">Image</th>
    <th style="color: #ee008b">Color</th>
    <th style="color: #60910b">Gender Check</th>
    
    <th style="color: purple">Description</th>
    <th style="color: #00E5EE">Menu</th>
    

  </tr>
  <tr>
    <th colspan="5">
      <select class="form-control" onchange="window.location.href=this.value">
        <option value="">Sort by name</option>
        <option value="/toyshop/sort/asc">Ascending</option>
        <option value="/toyshop/sort/desc">Descending</option>
      </select>
    </th>
    
  </tr>
  
  {{#each toyshop}}
  <tr>
    <td>{{Name}}</td>
    <td>{{Brand}}</td>
    <td>{{dateFormat Date "DD/MM/YYYY"}}</td>
    <td>
      <a href="/toyshop/detail/{{_id}}">
        <img src="{{Image}}" width="200" height="200" />
      </a>
    </td>
    <td>{{Color}}</td>
    <td>{{Gender}}</td>
    <td>{{Description}}</td>
    <td>
      <a class="btn btn-success" href="/toyshop/edit/{{_id}}">EDIT</a>
      <a class="btn btn-danger" href="/toyshop/delete/{{_id}}">DELETE</a>
    </td>
  </tr>
  {{/each}}
</table>
<style>
  img, svg {
    vertical-align: middle;
    border-radius: 50%;
}
body{
   background-color: rgb(255, 224, 229);
}
.table-bordered>:not(caption)>*>* {
    border-width: 0 1px;
    background: #ffd6da;
}
</style>