<form action="/toyshop/edit/{{toyshop._id}}" method="post" class="card p-3 bg-light text-center">
  <h2 class="text text-primary">Edit toyshop</h2>
  <div class="form-group">
    <label class="text-success h6">Toyshop Name</label>
    <input class="form-control" type="text" name="name" value="{{toyshop.Name}}" required minlength="3"
      maxlength="20" />
  </div>
  <div class="form-group mt-3">
    <label class="text-success h6">Toyshop Brand</label>
    <input class="form-control" type="brand" name="brand" value="{{toyshop.Brand}}" required minlength="3"
      maxlength="20" />

  </div>


  <div class="form-group mt-3">
    <label class="text-success h6">Toyshop Image</label><br />
    <img src="{{toyshop.Image}}" width="200" height="200" />
    <input class="form-control mt-3" type="text" name="image" value="{{toyshop.Image}}" required />
  </div>
  <div class="form-group mt-3">
    <label class="text-success h6">toyshop Birthday</label>
    <input class="form-control" type="date" name="dob" value="{{dateFormat toyshop.Date 'YYYY-MM-DD'}}" required />
  </div>
  <div class="form-group">
    <label class="text-success h6">Toyshop Description</label>
    <input class="form-control" type="text" name="name" value="{{toyshop.Description}}" required minlength="30"
      maxlength="200" />
  </div>
  
  <div class="form-group mt-3">
    <input class="btn btn-primary mt-3" type="submit" value="Edit right now !" />
  </div>

</form>