<form action="/toyshop/edit/{{toyshop._id}}" method="post" class="card p-3 bg-light text-center">
  <h2 class="text text-primary">Edit toyshop</h2>
  <div class="form-group">
    <label class="text-success h6">Toyshop Name</label>
    <input class="form-control" type="text" name="Name" value="{{toyshop.Name}}" required minlength="3"
      maxlength="20" />
  </div>
  <div class="form-group mt-3">
    <label class="text-success h6">Toyshop Brand</label>
    <input class="form-control" type="brand" name="Brand" value="{{toyshop.Brand}}" required minlength="3"
      maxlength="20" />

  </div>


  <div class="form-group mt-3">
    <label class="text-success h6">Toyshop Image</label><br />
    <img src="{{toyshop.Image}}" width="200" height="200" />
    <input class="form-control mt-3" type="text" name="Image" value="{{toyshop.Image}}" required />
  </div>
  <div class="form-group mt-3">
    <label class="text-success h6">toyshop Birthday</label>
    <input class="form-control" type="date" name="Date" value="{{dateFormat toyshop.Date 'YYYY-MM-DD'}}" required />
  </div>
  <div class="form-group">
    <label class="text-success h6">Toyshop Description</label>
    <input class="form-control" type="text" name="Description" value="{{toyshop.Description}}" required minlength="30"
      maxlength="200" />
  </div>
  
<div class="form-group mt-3">
      <label class="text-success h6">Toy  Color</label>
      <select name="Color" class="form-control" value="{{toyshop.Color}}">
            <option value="">Blue</option>
            <option value="Red">Red</option>
            <option value="Blue">Blue</option>
            <option value="Brown">Brown</option>
            <option value="Dark">Dark</option>
         </select>
   </div>
{{!-- 
<div class="form-group mt-3">
         <label class="text-success h6">Select a color you like</label>
         <select name="Color" class="form-control">
            <option value="">Select a color you like</option>
            {{#equal toyshop.Color 1}}
            <option value="Red" selected>Red</option>
            <option value="Blue">Blue</option>
            <option value="Brown">Brown</option>
            <option value="Dark">Dark</option>
            {{/equal}}
            {{#equal student.Color 2}}
            <option value="Red">Red</option>
            <option value="Blue" selected>Blue</option>
            <option value="Brown">Brown</option>
            <option value="Dark">Dark</option>
            {{/equal}}
            {{#equal student.Color 3}}
            <option value="Red">Red</option>
            <option value="Blue">Blue</option>
            <option value="Brown" selected>Brown</option>
            <option value="Dark">Dark</option>
            {{/equal}}
            {{#equal student.Color 4}}
            <option value="Red">Red</option>
            <option value="Blue">Blue</option>
            <option value="Brown">Brown</option>
            <option value="Dark" selected>Dark</option>
            {{/equal}}
         </select>
      </div> --}}

   <div class="form-group mt-3">
         <label class="text-success h6">Check Gender's Toy</label>
         <br>
         
         {{#equal toyshop.Gender "Female"}}
         Male <input type="radio" name="Gender" value="Male">
         Female <input type="radio" name="Gender" value="Female" checked>
         {{/equal}}
      </div>

  <div class="form-group mt-3">
    <input class="btn btn-primary mt-3" type="submit" value="Edit right now !" />
  </div>

</form>